nav{
    display:flex;
    justify-content: space-between;
    margin-left:10px;
    margin-right: 10px;;

}
ul{
    list-style-type: none;
    width:200px;
    justify-content: space-between;
}
ul li {
    text-decoration: nblightblue
}
.active{
    background-color: lightblue
}