.btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    color: white;
    cursor: pointer;
    border: 1px solid black;
}

.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-black{
    background-color: black;
}
.count{
    width:100px;
    background:gray;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    margin:auto;
    margin-bottom: 30px;
    border: 1px solid brown;
}

.option{
    background-color: orange;
    color: white;
    padding: 10px;
    border:1px solid darkblue; 
}

.error{
    color:red;
    font-size: 10px;
}