<!-- <h1> Start with Basics of Angular</h1>
{{title}}
<app-login></app-login>
<button (click)="function_btn()"> Click Here</button> -->
<app-profile></app-profile>
<h1 style="background-color: lightgreen;"> Counter App</h1>
<div style="text-align: center">
    <h2 class="count">{{count}}</h2>
    <div>
        <button (click)="handledecrement()" class="btn bg-red">Decrement</button>
        <button (click)="handleincrement()" class="btn bg-green">Increment</button>
        <button (click)="handlereset()" class="btn bg-black">Reset</button>
    </div>




</div>

<br>
<h1 style="color: black;background-color: palevioletred;"> GET and SET Input Field Values</h1>
<!-- <h2> User's Name is: {{name}}</h2> -->
<h2 style="color: blue;"> User's Name is: {{displayName}}</h2>
<input type="text" value="{{name}}" (input)="getName($event)" placeholder="Enter UserName">

<br>
<br>
<!-- <button>Get Value</button> -->
<button (click)="showName()">Get Name</button>
<button (click)="setName()">Set Name</button>

<br>
<br>
<h1 class="option" style="color: black;background-color: palevioletred;"> Styles Rules and Options</h1>

<br>
<br>
<br>
<h1 style="color: black;background-color: palevioletred;"> If Else | Control Flow</h1>
<button (click)="hidebox()">Hide div</button>
<button (click)="showbox()">Show div</button>
<br>
<br>
@if(display){
<div style="width:200px; height:200px; background-color: green;">

</div>

}

<br>
<br>
<!-- <button (click)="toogleTwo()">Toggle Two Divs</button> -->
<button (click)="toogleTwo()">{{
    toggleDiv?'show red div':'show blue div'
    }}
</button>

@if(toggleDiv){
<div style="background-color:gold; width: 200px; height: 200px;">

</div>
}
@else{
<div style="background-color: skyblue; width: 200px; height: 200px;">

</div>


}

<br>
<br>
<h1 style="color: black;background-color: palevioletred;"> Else IF | Control Statement</h1>
<br>
<button (click)="handlecolor(1)">Red</button>
<button (click)="handlecolor(2)">Green</button>
<button (click)="handlecolor(3)">Yellow</button>
<button (click)="handlecolor(10)">Brown</button>
<input type="text" (input)="handletext($event)" placeholder="Enter Number">
@if(color==1){
<div style="width: 100px; height: 100px; background-color: red;"></div>
}
@else if (color==2) {<div style="width: 100px; height: 100px; background-color:green;"></div>}
@else if (color==3) {<div style="width: 100px; height: 100px; background-color:yellow"></div>}
@else{<div style="width: 100px; height: 100px; background-color: brown"></div>}
<br>
<hr>
<h1 style="background-color: black; color: white;"> Two way Binding</h1>
<input [(ngModel)]="nametwo" type="text" placeholder="Enter Name">
<h1 style="color: black;">
    {{nametwo}}
</h1>

<hr>
<h1 style="background-color: black; color: white;"> To Do List App</h1>
<input type="text" [(ngModel)]="task" placeholder="Enter New Task">
<button (click)="addTask()">Add task</button>
<!-- <h1>{{task}}</h1> -->
@for(task of tasklist; track task.id)
{
<ul>
    <li>{{task.id}}</li>
    <li>
        {{task.task}}
    </li>

    <li> <button click()="deletetask(task.id)"> Delete</button></li>
</ul>
}

<!-- DIRECTIVES IN ANGULAR  -->
<h1 *ngIf="show"> Heading Tag</h1>
<hr>
<h1> *ngFor Directives in Angular</h1>
<ul>
    <li *ngFor="let x of Students"> 
        {{x}}
    </li>
</ul>
<ul>
    <li *ngFor="let student of studentsData">
        {{student.name}},{{student.age}},{{student.email}}
       

    </li>
</ul>

<br>
<hr>
<app-header> </app-header>
<!-- <h1> Basic Routing in Angular</h1> -->
<!-- <ul>
    <li>
        <a routerLink="/login">Login</a>
    </li>
        <li>
        <a routerLink="/about">About</a>
    </li>
        <li>
        <a routerLink="/contact">Contact</a>
    </li>
</ul> -->
<router-outlet>

</router-outlet>

<h1>Basics of FORMS</h1>
<form action="" method="post">
    <input type="text" name="username" placeholder="Enter UserName" [formControl]="nameform">
    <br>
    <input type="text" placeholder="Enter Password" [formControl]="passwordform">
    <br>
    <button type="button"(click)="displayValue()">Login</button>
    <br>
     <button type="button"(click)="setValue()">Set Values</button>
    <h3>{{nameform.value}}</h3>
    <br>
    <h3> {{passwordform.value}}</h3>

</form>
<hr>
<h1> Form Grouping In Reactive Forms</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Enter Name" formControlName="name">
    <br> <br>
    <input type="text" placeholder="Enter Password" formControlName="password">
    <br> <br>
    <input type="text" placeholder="Enter Email" formControlName="email">
      <button type="submit">Submit</button>



</form>
